page {
    background: #f4f4f4;
}
.weui-cells {
    margin: 0;
}
.weui-cell {
    padding: 20rpx 30rpx;
	display: flex;
}
.weui-cell view {
    font-size: 30rpx;
}
.weui-cell text {
    font-size: 30rpx;
}

.cell-box {
    margin: 20rpx;
    position: relative;
    border-radius: 10rpx;
    background: #ffffff;
    overflow: hidden;
}

.sext1 {
    color: #4881df;
}
.sext2 {
    color: #df4872;
}

.sex {
    padding: 15rpx 30rpx;
    display: inline-block;
    border: 1rpx solid #eeeeee;
}
.sex1 {
    border-right: 0 none;
    border-radius: 8rpx 0 0 8rpx;
}
.sex2 {
    border-radius: 0 8rpx 8rpx 0;
}
.sex1on {
    background: #4881df;
    border-color: #3b77dc;
    color: #ffffff;
}
.sex2on {
    background: #df4872;
    border-color: #df4872;
    color: #ffffff;
}
.weui-cell__ft {
	align-items: right;
}

.right-selet {
	width: 45%;
	text-align: right;
}
.addPeo{
	border-radius: 4px;
	background-color: white;
	text-align: center;
	color: black;
	border: 1px solid #04AA6D; 
	font-size: 18px;
	margin-left: 30rpx;
	margin-right: 30rpx;
}
.addPeople{
	width: 50%;
	display: flex;
	align-items: center;
}
/*  */
.popup-content {
    background-color: #fff;
    border-radius: 10rpx;
    padding: 30rpx;
    width: 600rpx;
}

.popup-title {
    font-size: 32rpx;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30rpx;
}

.form-item {
    margin-bottom: 20rpx;
}

.label {
    display: inline-block;
    width: 120rpx;
    font-size: 28rpx;
}

.form-item input {
    border: 1rpx solid #eee;
    padding: 10rpx;
    border-radius: 6rpx;
    font-size: 28rpx;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40rpx;
}

.btn {
    width: 45%;
    font-size: 28rpx;
}

.cancel {
    background-color: #f5f5f5;
    color: #666;
}

.confirm {
    background-color: #0bb584;
    color: #fff;
}

radio-group {
    display: inline-block;
}

radio-group label {
    margin-right: 20rpx;
    font-size: 28rpx;
}
