page {
    background: #f4f4f4;
}

.od-item {
    margin: 20rpx;
    background: #ffffff;
    border: 1rpx solid #eeeeee;
    border-radius: 10rpx;
    overflow: hidden;
}
.od-item .weui-cell {
    padding: 30rpx;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
	display: flex;
}
.od-logo {
    width: 100rpx;
    height: 100rpx;
    margin-right: 20rpx;
    border-radius: 10rpx;
}
.od-info view {
    font-size: 24rpx;
    color: #999999;
}
.od-info text {
    font-size: 24rpx;
    color: #999999;
}
.od-item .weui-cell__ft text {
    font-size: 24rpx;
}
/*  */
.h-tab {
    width: 100%;
    height: 100rpx;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    border-bottom: 1rpx solid #eeeeee;
}
.h-tab .h-tab-item {
    display: inline-block;
    padding: 0 10px;
    height: 100rpx;
    line-height: 100rpx;
    color: #999999;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.h-tab .h-tab-item.on {
    color: #444444;
    border-bottom: 10rpx solid #444444;
    font-weight: bold;
} /*009cff**/
.h-tab .h-tab-item-hint {
    display: inline-block;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 15rpx;
    border-radius: 100rpx;
    overflow: hidden;
    height: 38rpx;
    line-height: 38rpx;
    background: #f76260;
    color: #ffffff;
    font-size: 20rpx;
}
.h-tab.mini {
    height: 80rpx;
}
.h-tab.mini .h-tab-item {
    height: 80rpx;
    line-height: 80rpx;
    font-size: 28rpx;
}
.vp-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.vp-flex_1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
}
.vp-flex_2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -webkit-tap-highlight-color: transparent;
}
.vp-flex-center {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f5 {
    font-size: 24rpx;
    color: #b2b2b2;
}
.foot-user .weui-cell {
    padding: 0;
}
.f5 {
    font-size: 24rpx;
    color: #b2b2b2;
}
.weui-cell__ft{
	width: 80rpx;
}
.weui-cell__bd{
	width: 70%;
}